<template>
    <div>
        <Header :lang=false></Header>
        <main class="px-8 pt-5 pb-2 lg:mx-auto lg:w-6/12">
            <section class="flex flex-col justify-center items-center py-10 "> <!-- Icon -->
                <img :src="`${pathUrl}${currentProfile.icon}`"  alt="Eiffel tower" class="lg:h-56 h-40">
            </section> <!-- Fin Icon -->

            <section> <!-- En-tête  -->
                <img class="w-hsbc-rectangle py-2" src="~/assets/images/misc/rectangle.svg" alt="red rectangle">
                <h2 class="py-3 pr-2 text-3xl lg:text-5xl font-bold leading-tight">{{ results.title }}</h2>
                <div class="py-3 lg:text-2xl" v-html="currentProfile.detail"></div>
            </section> <!-- Fin En-tête -->

            <div v-if="formData.isSubmit" class="py-5 lg:py-10"> <!-- Sucess Message -->
                <div class="flex justify-between text-hsbc-green">
                    <div class="lg:flex lg:flex-col lg:justify-center pr-3">
                        <em class="hsbc-icon hsbc-icon-circle-confirmation text-3xl lg:text-5xl"></em>
                    </div>
                    <div>
                        <p class="text-hsbc-lg lg:text-2xl">{{ $t('form.sucess') }}</p>
                    </div>
                </div>
            </div> <!-- Fin sucess message -->

            <section class="pb-6 mt-6" v-if="!formData.isSubmit"> <!-- Email  -->
                <div class="bg-hsbc-grey px-6 flex flex-col justify-between pb-8">
                    <SubmitMail :label="currentProfile.submit"/>
                </div>
            </section> <!-- Fin Email -->

            <section> <!-- Share -->
                <p class="pt-4 font-bold lg:text-2xl">{{ $t('misc.share.title') }}</p>
                <button
                    @click="share"
                    data-tracking-content="Quiz Expatriés - Résultat - Share the experience"
                    data-cy="share"
                    target="_blank"
                    class="lg:py-3 lg:text-2xl border border-black font-hairline text-center w-full block py-2 my-6"
                >{{ $t('button.share') }}</button>
            </section> <!-- Fin Share -->
        </main>

         <!-- // Modal of share button -->
        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <AddThisModal v-on:closeModal="showed = false" v-if="showed"></AddThisModal>
        </transition>

        <!-- Footer -->
        <TheFooter></TheFooter>
    </div>
</template>

<script>

import Header from '~/components/Header.vue'
import SubmitMail from '~/components/SubmitMail.vue'
import TheFooter from '~/components/TheFooter.vue'
import { mapState } from 'vuex'
import AddThisModal from '~/components/AddThisModal.vue'


export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        SubmitMail,
        TheFooter,
        AddThisModal
    },
    data() {
        return {
            results: Object,
            currentProfile: Object,
            pathUrl: process.env.NUXT_ENV_BASE_PATH ? process.env.NUXT_ENV_BASE_PATH : "" ,
            showed: false
        }
    },
    methods: {
        share: function(e) {
            this.showed = true
            // Tracker click
            this.$trackEvent(e.target.dataset.trackingContent)
        }
    },
    validate ({ params: { profile } }) {
        if(profile > 3 || profile <= 0 || isNaN(profile))
            $nuxt.$router.push({path: '/'})
        else return true
    },
    created() {
        this.results = this.$t('screen.results')
        this.currentProfile = this.results.profiles[this.$route.params.profile - 1]

        // Tracker page
        if (!this.$store.state.form.formData.isSubmit) {
            this.$trackView({
                page_name: `pws:outils:quiz_expatries:resultat:${this.currentProfile.name}`,
                page_url: `/pws/outils/quiz_expatries/resultat/${this.currentProfile.name}`
            }, this.$i18n.locale)
        }
        // else {
        //     this.$trackView({
        //         page_name: `pws:outils:quiz_expatries:form_resultat:confirmation`,
        //         page_url: `/pws/outils/quiz_expatries/form_resultat/confirmation`
        //     }, this.$i18n.locale)
        // }
    },
    computed: {
        ...mapState('form', [
            'formData'
        ]),
    }
}
</script>

<style>

</style>
