<template>
    <div>
        <!-- // En-tête -->
        <Header :lang=false></Header>

        <main class="px-8 pt-5 pb-2 lg:mx-auto lg:w-6/12">
            <img class="w-hsbc-rectangle py-6" src="~/assets/images/misc/rectangle.svg" alt="red rectangle">
            <h2 v-if="currentScreen.title" class="py-3 text-3xl font-bold leading-tight lg:text-5xl">{{ currentScreen.title }}</h2>
            <div v-if="+$route.params.id !== 2" v-html="currentScreen.content"></div>
            <div v-else-if="currentScreen.secondary" v-html="currentScreen.secondary"></div>

            <!-- // Show share modale -->
            <button
                @click="showShareModale"
                :data-tracking-content="`Quiz Expatriés - Réponse ${['A', 'B', 'C'][this.$route.params.id - 1]} - Share Now`"
                data-cy="share-redirect"
                v-if="currentScreen.canShare && +$route.params.id !== 2"
                class="lg:text-2xl bg-hsbc-submit-button font-hairline text-center text-hsbc-lightgrey w-full block py-2 my-10 lg:py-5 lg:my-20"
            >
                {{ $t('button.shareRedirect') }}
            </button>

            <!-- // Redirect Learn More -->
            <a
                :href="learnMoreLink"
                @click="learnMore"
                :data-tracking-content="`Quiz Expatriés - Réponse ${['A', 'B', 'C'][this.$route.params.id - 1]} - Learn More`"
                data-cy="learn-redirect"
                v-else-if="currentScreen.learnMoreUrl && +$route.params.id !== 3"
                class="lg:text-2xl bg-hsbc-submit-button font-hairline text-center text-hsbc-lightgrey w-full block py-2 my-10 lg:py-5 lg:my-20"
            >
                {{ $t('button.learnRedirect') }}
            </a>

            <div v-if="currentScreen.secondary && +$route.params.id !== 2" v-html="currentScreen.secondary"></div>
            <div v-else v-html="currentScreen.content"></div>
            <p class="font-lg text-lg py-3 lg:text-2xl" v-if="currentScreen.ending">{{currentScreen.ending}}</p>
            <p class="font-lg text-lg lg:text-2xl mb-8" v-if="currentScreen.corporate"><strong>{{currentScreen.corporate}}</strong></p>

            <!-- // Redirect Learn More -->
            <a
                :href="learnMoreLink"
                @click="learnMore"
                :data-tracking-content="`Quiz Expatriés - Réponse ${['A', 'B', 'C'][this.$route.params.id - 1]} - Learn More`"
                data-cy="learn-redirect"
                v-if="currentScreen.learnMoreUrl && +$route.params.id !== 2"
                class="lg:text-2xl border border-black font-hairline text-center w-full block py-2 my-10 lg:py-5 lg:my-20"
            >
                {{ $t('button.learnRedirect') }}
            </a>

            <!-- // Show share modale -->
            <button
                @click="showShareModale"
                :data-tracking-content="`Quiz Expatriés - Réponse ${['A', 'B', 'C'][this.$route.params.id - 1]} - Share Now`"
                data-cy="share-redirect"
                v-else
                class="lg:text-2xl border border-black font-hairline text-center w-full block py-2 my-10 lg:py-5 lg:my-20"
            >
                {{ $t('button.shareRedirect') }}
            </button>

            <!-- // Previous Button  -->
            <button @click="$nuxt.$router.go(-1)" data-cy="prev" class="font-hairline text-center text-black w-full flex justify-center py-2 mt-6 mb-3 lg:my-16">
                <span class="flex items-center pr-2"><img src="~/assets/images/misc/previous.svg" alt="" height="10" width="10"></span>
                <span class="text-xs">{{ $t('button.previous') }}</span>
            </button>
        </main>

        <!-- // Modal of share button -->
        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <AddThisModal v-on:closeModal="showed = false" v-if="showed"></AddThisModal>
        </transition>

    </div>
</template>

<script>

import Header from '~/components/Header.vue'
import AddThisModal from '~/components/AddThisModal.vue'

export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        AddThisModal
    },
    validate ({ params: { id } }) {
        if(id > 3 || id <= 0 || isNaN(id))
            $nuxt.$router.push({path: '/'})
        else return true
    },
    data() {
        return {
            screens: Array,
            currentScreen: Object,
            showed: false
        }
    },
    methods: {
        showShareModale(e) {

            this.showed = true;
            // Tracking click
            this.$trackEvent(e.target.dataset.trackingContent);
        },
        learnMore(e) {
            // Tracking click
            this.$trackEvent(e.target.dataset.trackingContent);
        }
    },
    created() {

        this.screens = this.$t('screen.redirects')
        this.currentScreen = this.screens[this.$route.params.id - 1]

        // Tracker page
        this.$trackView({
            page_name: `pws:outils:quiz_expatries:response_${['A', 'B', 'C'][this.$route.params.id - 1]}`,
            page_url: `/pws/outils/quiz_expatries/response_${['A', 'B', 'C'][this.$route.params.id - 1]}`
        }, this.$i18n.locale)
    },
    computed: {
        learnMoreLink() {
            if (+this.$route.params.id === 1 || +this.$route.params.id === 2) {
                if (this.$i18n.locale === 'en') {
                    return this.$i18n.messages.fr.screen.redirects[0].learnMoreUrl;
                }
            }

            return this.currentScreen.learnMoreUrl;
        }
    }
}
</script>

<style>


</style>
