<template>
    <div>
        <Header :lang=false></Header>
        <StepTracker :current=step :max=maxStep></StepTracker>
        <main class="px-10 pt-8 pb-2 container lg:mx-auto lg:w-6/12">
            <section class="flex flex-col justify-center items-center"> <!-- Icon + Question -->
                <img :src="`${pathUrl}${this.currentStep.icon}`" :alt="`Logo question n°${step}`" height="100" width="100">
                <p v-html="this.currentStep.question" class="py-6 font-bold text-lg lg:text-2xl"></p>
            </section> <!-- Fin Icon + Question -->

            <section> <!-- Choices -->
                <Choices :choices="this.currentStep.choices" @choice-selected="onChoiceSelected" />
            </section> <!-- Fin Choices -->

            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                <section data-cy="funfact" v-if="toggleFunFact"> <!-- Funfact -->
                    <img class="pt-5 w-hsbc-rectangle" src="~/assets/images/misc/rectangle.svg" alt="red rectangle" height="10" width="30">
                    <p class="font-bold py-4 lg:text-2xl">{{ $t('misc.funfact')}}</p>
                    <p
                        class="text-base lg:text-2xl"
                        v-html="this.currentStep.funfact"
                    >
                    </p>
                </section> <!-- Fin Funfact -->
            </transition>

            <section> <!-- Buttons section -->
                <button @click="next" v-if="toggleFunFact" class="lg:text-xl lg:w-1/2 lg:mx-auto lg:py-4 bg-hsbc-red font-hairline text-hsbc-button text-center text-white w-full block py-2 mt-6 lg:mt-10 mb-3">{{ $t('button.next') }}</button>
                <button @click="prev" data-cy="prev" class="font-hairline text-center text-black w-full flex justify-center py-2 mt-6 mb-3 lg:my-16">
                    <span class="flex items-center pr-2"><img src="~/assets/images/misc/previous.svg" alt="" height="10" width="10"></span>
                    <span class="text-xs">{{ $t('button.previous') }}</span>
                </button>
            </section> <!-- Buttons section -->
        </main>
    </div>
</template>

<script>

import Header from '~/components/Header.vue'
import StepTracker from '~/components/StepTracker.vue'
import Choices from '~/components/Choices.vue'
import { mapState, mapMutations } from 'vuex'

export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        StepTracker,
        Choices
    },
    validate ({ params: { step }, app : { i18n : { messages : { en : { screen : { steps } } } } } }) {
        if(step > steps.length || step <= 0 || isNaN(step))
            $nuxt.$router.push({path: '/'})
        else return true
    },
    data() {
        return {
            maxStep : null,
            step : Number(this.$route.params.step),
            toggleFunFact: false,
            currentStep : {},
            steps : [],
            pathUrl: process.env.NUXT_ENV_BASE_PATH ? process.env.NUXT_ENV_BASE_PATH : "" ,
            choiceSelected: null,
        }
    },
    methods: {
        ...mapMutations({
            incrementScore: 'score/incrementScore',
            decrementScore: 'score/decrementScore',
            setJSONPdf: 'form/setJSONPdf',
            storeChoiceOne: 'form/storeChoiceOne',
            storeChoiceTwo: 'form/storeChoiceTwo'
        }),

        // Déclencher par l'event @choice-selected du composant Choices.vue
        onChoiceSelected: function(data) {
            this.toggleFunFact = data.funFactIsShowing
            this.choiceSelected = data.choiceSelected
        },
        // Bouton Précédent
        prev() {
            if(this.step - 1 > 0) {
                this.decrementScore()
                return $nuxt.$router.push({path: `${this.step - 1}`})
            } else {
                return $nuxt.$router.push({path: '/'})
            }
        },
        // Bouton Suivant
        next() {

            // Si la réponse selectionné possède des points
            if (this.choiceSelected.point) {
                this.incrementScore(this.choiceSelected.point) // Incrémente le score total dans le store
            }

            // Si la réponse selectionné permet de determiner le bon guide PDF à fournir
            if (this.currentStep.usedForGuide) {
                if(this.currentStep.order === 1) { // Si c'est Q2
                    this.storeChoiceOne(this.choiceSelected.value)
                } else { // Sinon c'est Q3
                    this.storeChoiceTwo(this.choiceSelected.hasChildren)
                }
            }

            // Si l'étape courante est suivi d'une étape intermédiaire...
            if (this.currentStep.nextScreen) {
                // Et que le formulaire n'a pas déjà été soumis dans une autre étape intermédiaire
                if (!this.formData.isSubmit) {
                    return $nuxt.$router.push({ // Passe à la question suivante
                        path: `/${this.$i18n.locale}/${this.currentStep.nextScreen}`
                    })
                }
            }

            // Si on est a l'étape finale...
            if (this.step === this.steps.length) {
                let path = 3;
                // En fonction du nombre de points, la route sera différente (accès à la page de résultat)
                if (this.total <= 19) {
                    path = 1;
                } else if (this.total >= 20 && this.total <= 30) {
                    path = 2;
                }
                return $nuxt.$router.push({
                    path: `/${this.$i18n.locale}/result/${path}`
                })
            }

            // Sinon on incrémente la step
            return $nuxt.$router.push({
                path: `${this.step + 1 <= this.maxStep ? this.step + 1 : this.step}`
            })
        }
    },
    created() {

        window.scrollTo(0,0);
        this.currentStep = this.$t(`screen.steps[${this.step - 1}]`)
        this.steps = this.$t(`screen.steps`)
        this.maxStep = this.steps.length

        // Met à jour les PDF dispo en fonction de la langue, dans le store.
        if (this.currentStep.order === 0) {
            this.setJSONPdf(this.$t('pdf'))
        }

        // Tracker page
        this.$trackView({
            page_name: `pws:outils:quiz_expatries:question_${this.step}`,
            page_url: `/pws/outils/quiz_expatries/question_${this.step}`
        }, this.$i18n.locale)

    },
    computed: {
        ...mapState('score', ['total']),
        ...mapState('form', ['formData']),
    }
}
</script>

<style>

</style>
