<template>
    <div class="modal z-40 fixed top-0 w-full h-full flex items-center justify-center">
        <div class="relative w-full h-full  rounded-sm flex items-center justify-center">
            <div class="bg-white relative lg:w-1/4">
                <button @click="close" class="absolute right-0 p-3">
                    <em class="hsbc-icon hsbc-icon-delete text-xl"></em>
                </button>
                <div class="px-5 pt-8 pb-2 flex items-center">
                    <img class="" src="~/assets/images/misc/rectangle.svg" alt="red rectangle" height="10" width="30">
                </div>
                <div class="flex items-center justify-between px-5 pb-3">
                    <h1 class="text-2xl lg:text-4xl font-bold">{{ $t('button.shareRedirect') }}</h1>
                </div>
                <div class="px-5 pb-5">
                    <!-- <AddThis
                        :publicId="id"
                        :data-url="base"
                        :data-title="$t('misc.addThisConfig.title')"
                        :data-description="$t('misc.addThisConfig.description')"
                        :data-media="`${base}${$t('misc.addThisConfig.media')}`"
                    /> -->
                    <AddThis
                        :publicId="id"
                        :data-url="base"
                        :data-title="$t('misc.addThisConfig.title')"
                        :data-description="$t('misc.addThisConfig.description')"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import AddThis from '~/components/AddThis';

export default {
    data() {
        return {
            id: "ra-5df79b8ba8c48c16",
            base: ""
        }
    },
    components: {
        AddThis
    },
    methods: {
        close() {
            this.$emit('closeModal')
        },
    },
    props: {
        // showed: Boolean
    },
    created() {
        this.base = window.location.host + process.env.NUXT_ENV_BASE_PATH;
    }
}
</script>

<style scoped>
    .modal {
        background-color: rgba(0,0,0,0.3);
    }
</style>
