<template>
    <div class="flex w-full">
        <div class="pr-2 lg:pr-4">
            <div
                :class="{ 'border-hsbc-green': value }"
                class="w-5 h-5 rounded border inline-flex justify-center items-center bg-white cursor-pointer"
                @click="$emit('change', !value)">
                    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                        <em v-if="value" :class="{ 'text-hsbc-green': value }" class="hsbc-icon hsbc-icon-agree"></em>
                    </transition>
            </div>
        </div>
        <div>
            <p @click="$emit('change', !value)" class="font-light leading-tight text-sm lg:text-lg">
                {{ label }}
                <span v-if="required" class="text-hsbc-red">*</span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        model: {
            event: 'change'
        },
        props: {
            value: Boolean,
            label: String,
            required: Boolean
        }
    };
</script>
