<template>
    <div id="choices" class="lg:w-7/12 lg:mx-auto">
        <button type="button text-base"
            v-for="(choice, index) in choices"
            :key="`q-${ index }`"
            :class="[' my-2 border-solid border border-gray-300 py-3 px-4 text-base w-full bg-transparent text-left lg:text-xl', choiceSelected && choiceSelected.label === choice.label ? 'border-hsbc-green text-hsbc-green' : '']"
            :v-model="choiceSelected"
            @click="select(choice)"
            :data-cy="`choice-${ index + 1 }`"
            v-html="choice.label"
        >
        </button>
    </div>
</template>

<script>

    export default {
        name: "Choices",
        data() {
            return {
                isActive: false,
                choiceSelected: null,
            }
        },
        props: {
            choices: Array
        },
        methods: {
            select: function(choice) {

                // Tracker click
                this.$trackEvent(`Quiz Expatriés - Question ${this.$route.params.step} - ${this.$stripHtml(choice.label)}`);

                this.choiceSelected = choice
                this.isActive = !this.isActive

                if (choice.redirectId) {
                    this.$router.push(this.localePath({
                        name: "redirect-id",
                        params: {id: choice.redirectId},
                        path: {lang: this.$i18n.locale}
                    }))
                } else {
                    // Emit event
                    this.$emit('choice-selected', {funFactIsShowing: true, choiceSelected : this.choiceSelected})
                    this.$nextTick(() => {
                        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
                    })
                }
            }
        }
    }
</script>

<style scoped>
    button {
        transition: all 0.3s;
        outline-color: theme('colors.hsbc-green');
    }
</style>
