<template>
    <transition enter-active-class="animated fadeInRight" leave-active-class="animated fadeOutLeft">
        <div v-if="isEnabled === 0" id="cookie-banner" class="bg-cookie-banner fixed bottom-0 w-screen min-h-cookie px-6 py-2">
            <div class="flex flex-col lg:w-5/12 lg:mx-auto">
                <h3 class="lg:text-3xl text-hsbc-lightgrey text-xl py-3 font-light lg:py-5">{{ $t('screen.home.cookieBanner.title') }}</h3>

                <!-- // Text content banner cookie -->
                <p class="lg:text-xl text-hsbc-lightgrey text-sm leading-tight pb-3 font-light">{{ $t('screen.home.cookieBanner.content') }}</p>

                <div class="flex flex-col lg:flex-row lg:justify-between lg:py-4">
                    <!-- // Consult policy page -->
                    <a
                        data-cy="cookie-policy"
                        @click="findOutMore"
                        data-tracking-content="Quiz Expatriés - Cookies - Find out more"
                        href="https://www.hsbc.fr/1/2/hsbc-france/gestion-des-cookies#cookieListTabContent"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="lg:w-5/12 text-hsbc-button text-hsbc-lightgrey mb-3 lg:mb-0 text-center bg-transparent font-light py-2 px-4 border border-white"
                    >
                        {{ $t('button.cgu') }}
                    </a>

                    <!-- // Accept cookies -->
                    <button
                        data-cy="cookie-accept"
                        @click="acceptCookies"
                        data-tracking-content="Quiz Expatriés - Cookies - Accept"
                        class="lg:w-5/12 text-hsbc-button text-hsbc-lightgrey bg-transparent font-light py-2 px-4 border border-white"
                    >
                        {{ $t('button.accept') }}
                    </button>
                </div>
            </div>
            <!-- // Title banner cookie -->


        </div>
    </transition>
</template>

<script>
export default {
    name: 'CookieBanner',
    data() {
        return {
            isEnabled: null
        }
    },
    methods: {
        acceptCookies(e) {
            this.isEnabled = 1;

            this.$setCookie('cookie_banner_dismiss', Date.now());
            this.$setCookie('opt_in_status', 1);

            // localStorage.setItem('cookie_banner_dismiss', Date.now());
            // localStorage.setItem('opt_in_status', 1);

           // Tracking click
            this.$trackEvent(e.target.dataset.trackingContent);
        },
        findOutMore(e) {
            // Tracking click
            this.$trackEvent(e.target.dataset.trackingContent);
        }
    },
    created() {
        if (this.$getCookie('opt_in_status') === null || this.$getCookie('opt_in_status') === undefined) {
            this.$setCookie('opt_in_status', 0);
        }
        this.isEnabled = +this.$getCookie('opt_in_status');
    }
}
</script>

<style>

.h-cookie-banner {
    height: theme('height.hsbc-banner');
}

.bg-cookie-banner {
    background-color: theme('colors.hsbc-blue');
}

</style>
