<template>
    <header class="sticky z-10 top-0 px-4 py-4 lg:px-8 lg:py-6 border-b bg-white">
        <div class="container-hsbc mx-auto flex items-center justify-between">
            <div>
                <!-- // Logo HSBC -->
                <img class="h-6 lg:h-8" src="~/assets/images/logo/logo-mobile.svg" alt="HSBC Logo">
            </div>
            <div v-if="lang">
                <!-- // Switch to ENGLISH language -->
                <nuxt-link data-cy="flag-fr" v-if="$i18n.locale === 'en'" :to="switchLocalePath('fr')" class="focus:outline-none flex items-center">
                    <span class="pr-2 text-sm text-gray-600">Lire en</span>
                    <img class="h-6 lg:h-8" src="~/assets/images/flags/flag-fr.svg" alt="Drapeau français">
                </nuxt-link>

                <!-- // Switch to FRENCH language -->
                <nuxt-link data-cy="flag-en" v-else :to="switchLocalePath('en')" class="focus:outline-none flex items-center">
                    <span class="pr-2 text-sm text-gray-600">Read in</span>
                    <img class="h-6 lg:h-8" src="~/assets/images/flags/flag-en.svg" alt="Drapeau français">
                </nuxt-link>

            </div>
        </div>
    </header>
</template>

<script>

export default {
    name: 'Header',
    props: {
        lang: Boolean
    }
}
</script>

<style scoped>

</style>
