<template>
    <div class="flex justify-between mx-auto w-11/12 py-3 lg:w-1/3 lg:pt-10">
        <span :data-cy="`tracker-step-${i+1}`" v-for="i in max" :key="`step-${i}`" :class="['item w-4 lg:w-8', i <= current ? 'item-active' : '']"></span>
    </div>
</template>

<script>
export default {
    props: {
        current : Number,
        max: Number
    }
}
</script>

<style>

.item {
    height: 2px;
    background-color: #DADADA;
}

.item-active {
    background-color: #4D6474;
}

</style>
