<template>
    <div class="lg:py-10">
        <p class="pb-5 pt-8 font-bold text-lg lg:text-2xl lg:pb-10 leading-tight">{{label}}</p>
        <div class="w-full flex flex-col items-stretch">
            <input
                v-model="$v.mail.$model"
                data-cy="submit-mail"
                type="mail"
                placeholder="Email"
                class="mb-2 pl-6 py-2 lg:text-2xl border-solid border border-gray-300 text-sm outline-none bg-white"
            />
            <button
                :data-tracking-content="trackingButton"
                :disabled="$v.$invalid"
                data-cy="show-form"
                @click="showForm"
                class="py-2 lg:text-2xl text-hsbc-button font-light"
                :class="[$v.$invalid ? 'bg-gray-500 text-white' : 'bg-hsbc-submit-button text-hsbc-lightgrey']"
            >
                {{ $t('button.send') }}
            </button>
        </div>
    </div>
</template>

<script>

import { mapState, mapMutations } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'


export default {
    data() {
        return {
            mail: ""
        }
    },
    validations: {
        mail : { required, email }
    },
    props: {
        label: String,
        order: Number
    },
    methods: {
        ...mapMutations('form', [
            'updateMail'
        ]),
        showForm: function(e) {

            // Tracker click
            this.$trackEvent(e.target.dataset.trackingContent);

            this.updateMail(this.mail)

            if (this.order) {
                this.$router.push({ path: `/${this.$i18n.locale}/form/${this.order}` })
            } else {
                this.$router.push({ path: `/${this.$i18n.locale}/form` })
            }

        },
    },
    computed: {
        ...mapState('form', [
            'formData'
        ]),
        trackingButton() {
            if (this.order) {
                return `Quiz Expatriés - Intermédiaire ${this.order} - Send for guide`
            } else {
                return "Quiz Expatriés - Résultat - Send for guide"
            }
        }
    },
}
</script>


<style scoped>
    button {
        transition: all 0.3s;
    }
</style>
