<template>
    <div class="p-8 flex items-center"> <!-- Join HSBC -->
        <div class="lg:w-6/12 lg:mx-auto lg:py-10">
            <h3 class="font-bold text-xl leading-tight lg:text-3xl lg:pb-5 lg:text-center">{{ $t('footer.title') }}</h3>
            <a
                data-cy="open-account"
                @click="openAccount"
                :href="$t('footer.accountUrl')"
                target="_blank"
                class="lg:p-3 lg:mx-auto lg:w-6/12 lg:text-2xl text-hsbc-button bg-hsbc-red font-hairline text-center text-white w-full block py-2 mt-6 mb-3">
                {{ $t('button.openAccount') }}
            </a>
            <a
                data-cy="book-appointment"
                @click="bookAppointment"
                :href="$t('footer.appointmentUrl')"
                target="_blank"
                class="lg:p-3 lg:mx-auto lg:w-6/12 lg:text-2xl text-hsbc-button border border-black font-hairline text-center w-full block py-2 mt-6 mb-3"
            >{{ $t('button.appointment') }}</a>
        </div>
    </div> <!-- Fin Join HSBC -->
</template>

<script>
export default {

    methods: {
        openAccount: function (e) {
            // Tracker click
            if (this.$route.params.profile) {
                this.$trackEvent(`Quiz Expatrés - Résultat ${this.$route.params.profile} - Open an account`)
            } else {
                this.$trackEvent(`Quiz Expatrés - Intermédiaire ${this.$route.params.screen} - Open an account`)
            }
        },
        bookAppointment: function (e) {
            // Tracker click
            if (this.$route.params.profile) {
                this.$trackEvent(`Quiz Expatrés - Résultat ${this.$route.params.profile} - Book an appointment`)
            } else {
                this.$trackEvent(`Quiz Expatrés - Intermédiaire ${this.$route.params.screen} - Book an appointment`)
            }
        }

    }
}

</script>

<style>

</style>

