/**  @deprecated  : la transition s'applique via la balise <transisition> dans le fichier layouts/default.vue **/

/* Transition de page */
/* .page-enter-active, .page-leave-active {
    transition: opacity .2s;
}

.page-enter, .page-leave-active {
    opacity: 0;
} */
