<template>
    <div ref="top">
        <Header :lang=false></Header>
        <main class="px-8 pt-5 pb-2 lg:mx-auto lg:w-5/12 container-hsbc mx-auto">

            <section> <!-- En-tête  -->
                <img class="pt-5" src="~/assets/images/misc/rectangle.svg" alt="red rectangle" height="10" width="30">
                <h2 class="py-6 text-xl lg:text-4xl font-bold">{{ $t('form.title') }}</h2>
            </section> <!-- Fin En-tête -->

            <section> <!-- Formulaire -->
                <form action="" v-on:submit.prevent="submit">
                    <div class="pb-4 lg:pb-8"> <!-- Gender -->
                        <label for="" class="block text-xl lg:text-2xl pb-2">
                            {{ $t('form.label.title') }}
                            <span class="text-hsbc-red">*</span>
                        </label>
                        <div class="w-full flex  h-12 lg:h-16">
                            <!-- I'm a Woman -->
                            <!-- <button
                                @click="form.gender = $t('form.label.gender.female')"
                                data-cy="female"
                                type="button"
                                :class="[form.gender === $t('form.label.gender.female') ? 'active border-hsbc-green' : '', 'gender lg:h-full lg:text-xl w-32 lg:w-4/12  border bg-transparent']"
                            >
                                {{$t('form.label.gender.female')}}
                            </button> -->
                            <!-- I'm a Men -->
                            <!-- <button
                                @click="form.gender = $t('form.label.gender.male')"
                                data-cy="male"
                                type="button"
                                :class="[form.gender === $t('form.label.gender.male') ? 'active border-hsbc-green' : 'border-l-0', 'gender lg:h-full lg:text-xl w-32 lg:w-4/12  bg-transparent border bg-transparent']"
                            >
                                <span>{{$t('form.label.gender.male')}}</span>
                            </button> -->

                            <!-- I'm a Woman -->
                            <!-- <label for="gender-woman" class="">
                                <span>{{$t('form.label.gender.female')}}</span>
                                <input type="radio" name="" id="gender-woman">
                            </label> -->
                            <!-- I'm a Men -->
                            <!-- <label for="gender-men" class="">
                                <span>{{$t('form.label.gender.male')}}</span>
                                <input type="radio" name="" id="gender-men">
                            </label> -->

                            <!-- Femme -->
                            <div class="flex w-1/2">
                                <div class="pr-2 lg:pr-4 flex items-center">
                                    <div
                                        :class="{ 'border-hsbc-green': form.gender === $t('form.label.gender.female') }"
                                        class="w-5 h-5 rounded border inline-flex justify-center items-center bg-white cursor-pointer"
                                        @click="form.gender = $t('form.label.gender.female')"
                                    >
                                        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                            <em
                                                v-if="form.gender === $t('form.label.gender.female')"
                                                :class="{ 'text-hsbc-green': form.gender === $t('form.label.gender.female') }"
                                                class="hsbc-icon hsbc-icon-agree"
                                            ></em>
                                        </transition>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p @click="form.gender = $t('form.label.gender.female')" class="font-light leading-tight text-md lg:text-xl">
                                        {{ $t('form.label.gender.female') }}
                                        <!-- <span v-if="required" class="text-hsbc-red">*</span> -->
                                    </p>
                                </div>
                            </div>

                            <!-- Homme -->
                            <div class="flex w-1/2">
                                <div class="pr-2 lg:pr-4 flex items-center">
                                    <div
                                        :class="{ 'border-hsbc-green': form.gender === $t('form.label.gender.male') }"
                                        class="w-5 h-5 rounded border inline-flex justify-center items-center bg-white cursor-pointer"
                                        @click="form.gender = $t('form.label.gender.male')"
                                    >
                                        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                            <em
                                                v-if="form.gender === $t('form.label.gender.male')"
                                                :class="{ 'text-hsbc-green': form.gender === $t('form.label.gender.male') }"
                                                class="hsbc-icon hsbc-icon-agree"
                                            ></em>
                                        </transition>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <p @click="form.gender = $t('form.label.gender.male')" class="font-light leading-tight text-md lg:text-xl">
                                        {{ $t('form.label.gender.male') }}
                                        <!-- <span v-if="required" class="text-hsbc-red">*</span> -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Fin Gender -->

                    <div v-if="$i18n.locale === 'fr'" class="pb-4 lg:pb-12"> <!-- Lastname ONLY FR -->
                        <div class="flex items-center justify-between">
                            <label for="" class="block text-xl lg:text-2xl pb-2">
                                {{ $t('form.label.lastname') }}
                                <span class="text-hsbc-red">*</span>
                            </label>
                            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                <div v-if="$v.form.lastname.$error">
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.required">{{ $t('form.errors[0]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.minLength">{{ $t('form.errors[1]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.alpha">{{ $t('form.errors[2]') }}</p>
                                </div>
                            </transition>
                        </div>
                        <div class="w-full flex h-12">
                            <input
                                @blur="$v.form.lastname.$touch()"
                                v-model.trim="$v.form.lastname.$model"
                                @input="capitalizeFirstLetter"
                                data-cy="lastname"
                                name="lastname"
                                type="text"
                                class="lg:text-xl lg:py-8 pl-4 w-full border-solid border border-gray-300 text-sm outline-none bg-transparent"
                                :placeholder="$t('form.label.lastname')"
                            />
                        </div>
                    </div> <!-- Fin Lastname ONLY FR-->

                    <div class="pb-4 lg:pb-12"> <!-- Firstname -->
                        <div class="flex items-center justify-between">
                            <label for="" class="block text-xl lg:text-2xl pb-2">
                                {{ $t('form.label.firstname') }}
                                <span class="text-hsbc-red ">*</span>
                            </label>
                            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                <div v-if="$v.form.firstname.$error">
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.firstname.required">{{ $t('form.errors[0]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.firstname.minLength">{{ $t('form.errors[1]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.firstname.alpha">{{ $t('form.errors[2]') }}</p>
                                </div>
                            </transition>
                        </div>
                        <div class="w-full flex h-12">
                            <input
                                @blur="$v.form.firstname.$touch()"
                                v-model.trim="$v.form.firstname.$model"
                                @input="capitalizeFirstLetter"
                                data-cy="firstname"
                                name="firstname"
                                type="text"
                                class="lg:text-xl lg:py-8 pl-4 w-full border-solid border border-gray-300 text-sm outline-none bg-transparent"
                                :placeholder="$t('form.label.firstname')"
                            />
                        </div>
                    </div> <!-- Fin Firstname -->

                    <div v-if="$i18n.locale === 'en'" class="pb-4 lg:pb-12"> <!-- Lastname ONLY EN -->
                        <div class="flex items-center justify-between">
                            <label for="" class="block text-xl lg:text-2xl pb-2">
                                {{ $t('form.label.lastname') }}
                                <span class="text-hsbc-red">*</span>
                            </label>
                            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                <div v-if="$v.form.lastname.$error">
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.required">{{ $t('form.errors[0]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.minLength">{{ $t('form.errors[1]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.lastname.alpha">{{ $t('form.errors[2]') }}</p>
                                </div>
                            </transition>
                        </div>
                        <div class="w-full flex h-12">
                            <input
                                @blur="$v.form.lastname.$touch()"
                                v-model.trim="$v.form.lastname.$model"
                                @input="capitalizeFirstLetter"
                                data-cy="lastname"
                                name="lastname"
                                type="text"
                                class="lg:text-xl lg:py-8 pl-4 w-full border-solid border border-gray-300 text-sm outline-none bg-transparent"
                                :placeholder="$t('form.label.lastname')"
                            />
                        </div>
                    </div> <!-- Fin Lastname ONLY EN-->

                    <div class="pb-4 lg:pb-12"> <!-- Email -->
                        <div class="flex items-center justify-between">
                            <label for="" class="block text-xl lg:text-2xl pb-2">
                                {{ $t('form.label.mail') }}
                                <span class="text-hsbc-red ">*</span>
                            </label>
                            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                                <div v-if="$v.form.mail.$error">
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.mail.required">{{ $t('form.errors[0]') }}</p>
                                    <p class="text-hsbc-red text-xs lg:text-base" v-if="!$v.form.mail.email">{{ $t('form.errors[2]') }}</p>
                                </div>
                            </transition>
                        </div>
                        <div class="w-full flex h-12">
                            <input
                                v-model.trim="$v.form.mail.$model"
                                data-cy="mail"
                                type="mail"
                                class="lg:text-xl lg:py-8 pl-4 w-full border-solid border border-gray-300 text-sm outline-none bg-transparent"
                                :placeholder="$t('form.label.mail')"
                            />
                        </div>
                    </div> <!-- Fin email -->

                    <div class="py-2 lg:py-6">
                        <div> <!-- Checkbox guide -->
                            <div class="w-full flex h-12">
                                <Checkbox
                                    v-model="$v.form.wantsGuide.$model"
                                    :label="$t('form.label.agree.guide')"
                                    :required="true"
                                    :data-tracking-content="trackingContentGuide"
                                />
                            </div>
                        </div> <!-- Fin Checkbox guide -->

                        <div> <!-- Checkbox email -->
                            <div class="w-full flex h-12">
                                <Checkbox
                                    v-model="$v.form.wantsEmail.$model"
                                    :label="$t('form.label.agree.mail')"
                                    :required="false"
                                    :data-tracking-content="trackingContentOptin"
                                />
                            </div>
                        </div> <!-- Fin Checkbox email -->
                    </div>

                    <div class="lg:w-full"> <!-- Button Send -->
                        <p class="text-hsbc-red text-sm pb-3 lg:text-lg">{{ $t('form.compulsory') }}</p>
                        <button
                            @click="onTrackSubmit"
                            :data-tracking-content="trackingContentSend"
                            data-cy="submit-form"
                            :disabled="$v.$invalid"
                            :class="[
                                'lg:block lg:text-2xl lg:h-16 lg:w-6/12 lg:mx-auto lg:my-10 w-full send-btn h-10 mb-4 font-light',
                                $v.$invalid ? 'border-gray-400 bg-hsbc-muted text-gray-300' : 'bg-hsbc-red text-white']">
                                    {{ $t('button.send') }}
                        </button>
                    </div> <!-- Fin Button Send -->

                </form>
            </section> <!-- Fin Formulaire -->
        </main>
    </div>
</template>

<script>

import Header from '~/components/Header.vue'
import { mapState, mapMutations } from 'vuex'
import { required, email, sameAs, minLength, helpers } from 'vuelidate/lib/validators'
import Checkbox from '~/components/Checkbox.vue'
const alpha = helpers.regex('alpha', /^[A-Z\É\È\Ê\Ë\À\Â\Á\Ä\Î\Ì\Ï\Í\Û\Ù\Ü\Ú\Ū\Ô\Œ\Ö\Ò\Ó\Õ\Ø\Ō\Ç][A-Za-z\ç\é\è\ê\ë\ę\ė\ē\î\ï\ì\í\į\ī\à\â\æ\á\ä\ã\å\ā\û\ù\ü\ú\ū\ô\œ\ö\ò\ó\õ\ø\ō\'\-\ ]+$/)


export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        Checkbox
    },
    data() {
        return {
            form: {
                isSubmit: false,
                mail: null,
                firstname: null,
                lastname: null,
                gender: null,
                wantsGuide: false,
                wantsEmail: false
            }
        }
    },
    validations: {
        form: {
            mail: {
                required,
                email
            },
            firstname: {
                required,
                alpha,
                minLength: minLength(2)
            },
            lastname: {
                required,
                alpha,
                minLength: minLength(2)
            },
            gender: {
                required
            },
            wantsGuide: {
                sameAs: sameAs( () => true )
            },
            wantsEmail: {
            }
        }
    },
    methods: {
        ...mapMutations('form', [
            'updateFormData'
        ]),
        capitalizeFirstLetter(e) {
            let { target : { value } } = e
            if (value && value.length <= 1)
                if(e.target.name === "lastname")
                    this.$v.form.lastname.$model = this.$v.form.lastname.$model[0].toUpperCase()
                else
                    this.$v.form.firstname.$model = this.$v.form.firstname.$model[0].toUpperCase()
        },
        submit() {
            this.form.isSubmit = true
            this.form.lang = this.$i18n.locale.toUpperCase()
            this.updateFormData(this.form)
            this.$store.dispatch('form/submitForm')
            this.$router.go(-1)
        },
        onTrackSubmit(e) {
            // Track click
            this.$trackEvent(e.target.dataset.trackingContent);

            // Si on est sur un formulaire de page intermédiaire
            if(this.$route.params.id) {
                // Track page spécifique pour les checkbox: Formulaire intermédiaire
                this.$trackView({
                    page_name: `pws:outils:quiz_expatries:form_intermediaire_${this.$route.params.id}:confirmation`,
                    page_url: `/pws/outils/quiz_expatries/form_intermediaire_${this.$route.params.id}/confirmation`
                }, this.$i18n.locale)
            } else {
                // Track page spécifique pour les checkbox: Formulaire de résultat (final)
                this.$trackView({
                    page_name: `pws:outils:quiz_expatries:form_resultat:confirmation`,
                    page_url: `/pws/outils/quiz_expatries/form_resultat/confirmation`
                }, this.$i18n.locale)
            }

            // Track l'état de selection des 2 checkbox
            this.$trackEvent(this.trackingContentGuide);
            this.$trackEvent(this.trackingContentOptin);
        }
    },
    computed: {
        ...mapState('form', [
            'formData'
        ]),
        trackingContentSend() {
            if (this.$route.params.id) {
                return `Quiz Expatriés - Form Intermédiaire ${this.$route.params.id} - Send`
            } else {
                return "Quiz Expatriés - Form Résultat - Send"
            }
        },
        trackingContentGuide() {
            if (this.$route.params.id) {
                return `Quiz Expatriés - Form Intermédiaire ${this.$route.params.id} - HSBC Guide ${this.$v.form.wantsGuide.$model ? "Yes" : "No"}`
            } else {
                return `Quiz Expatriés - Form Résultat - HSBC Guide ${this.$v.form.wantsGuide.$model ? "Yes" : "No"}`
            }
        },
        trackingContentOptin() {
            if (this.$route.params.id) {
                return `Quiz Expatriés - Form Intermédiaire ${this.$route.params.id} - Optin ${this.$v.form.wantsEmail.$model ? "Yes" : "No"}`
            } else {
                return `Quiz Expatriés - Form Résultat - Optin ${this.$v.form.wantsEmail.$model ? "Yes" : "No"}`
            }
        }
    },
    created() {
        this.form.mail = this.formData.mail

        // Tracker page
        if (this.$route.params.id) {
            this.$trackView({
                page_name: `pws:outils:quiz_expatries:form_intermediaire_${this.$route.params.id}:saisie`,
                page_url: `/pws/outils/quiz_expatries/form_intermediaire_${this.$route.params.id}/saisie`
            }, this.$i18n.locale)
        } else {
            this.$trackView({
                page_name: `pws:outils:quiz_expatries:form_resultat:saisie`,
                page_url: `/pws/outils/quiz_expatries/form_resultat/saisie`
            }, this.$i18n.locale)
        }
    },
    mounted() {
        this.$scrollMeToRef(this.$refs.top)
    }
}
</script>

<style scoped>
    input[type="button"], button {
        transition: all 0.3s;
    }

    .gender {
        position: relative;
        outline: 0;
    }

    .gender::after {
        height: 0px;
        content: "";
        display: block;
        background: #008580;
        width: 100%;
        position: absolute;
        transition: height .15s linear;
        bottom: 0;
    }

    .gender.active::after {
        height: 4px;
    }

</style>
