<template>
    <div>
        <Header :lang="true"></Header>
        <main class="container-hsbc mx-auto flex flex-col lg:flex-row  lg:min-h-main-home-desktop">
            <section class="home-background h-128 flex justify-start items-end lg:w-1/2 lg:min-h-main-home-desktop">
                <h1 class="text-3xl text-white p-6 leading-tight lg:hidden">{{ $t('screen.home.title') }}</h1>
            </section>
            <section class="px-6 py-4 lg:py-20 lg:w-1/2 lg:p-16 lg:min-h-main-home-desktop lg:flex lg:flex-col lg:justify-around">
                <h1 class="text-5xl leading-tight hidden lg:block font-bold">{{ $t('screen.home.title') }}</h1>
                <h3 class="text-xl leading-tight py-3 lg:text-4xl font-light">{{ $t('screen.home.intro') }}</h3>
                <p class="leading-tight text-base pb-4 lg:text-2xl" v-html="$t('screen.home.content')"></p>
                <nuxt-link data-cy="start" :to="`${$i18n.locale}/slide/1`" class="text-hsbc-button bg-hsbc-red font-hairline text-center text-white w-full block py-2 mt-6 mb-3 lg:py-4 lg:text-2xl">{{ $t('button.start') }}</nuxt-link>
            </section>
        </main>
        <CookieBanner></CookieBanner>
    </div>
</template>

<script>

import Header from '@/components/Header.vue'
import CookieBanner from '@/components/CookieBanner.vue'

export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        CookieBanner
    },
    mounted() {
        // Tracker page
        this.$trackView({
            page_name: 'pws:outils:quiz_expatries:home',
            page_url: '/pws/outils/quiz_expatries/home'
        }, this.$i18n.locale)
    }
}
</script>

<style>

.home-background {
    background-image: url('~assets/images/photos/home-smartphone-min.png');
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
}

</style>
