<template>
    <div ref="top">
        <Header :lang=false></Header>
        <main class="px-8 pt-5 pb-2 lg:mx-auto lg:w-6/12">
            <section class="pb-6"> <!-- En-tête  -->
                <img class="pt-5" src="~/assets/images/misc/rectangle.svg" alt="red rectangle" height="10" width="30">
                <h1 class="py-3 text-3xl font-bold lg:text-5xl lg:py-6">{{currentScreen.title}}</h1>
                <p class="text-hsbc-lg lg:text-2xl" v-html="currentScreen.content"></p>
            </section> <!-- Fin En-tête -->

            <div ref="sucessMessage" v-if="formData.isSubmit" class="py-5 lg:py-10"> <!-- Sucess Message -->
                <div class="flex justify-between text-hsbc-green">
                    <div class="lg:flex lg:flex-col lg:justify-center pr-3">
                        <em class="hsbc-icon hsbc-icon-circle-confirmation text-3xl lg:text-5xl"></em>
                    </div>
                    <div>
                        <p class="text-hsbc-lg lg:text-2xl">{{ $t('form.sucess') }}</p>
                    </div>
                </div>
            </div> <!-- Fin sucess message -->

            <section v-if="formData.isSubmit"> <!-- Share -->
                <p class="pt-4 font-bold lg:text-2xl">{{ $t('misc.share.title') }}</p>
                <button
                    @click="showShareModale"
                    data-cy="share"
                    :data-tracking-content="`Quiz Expatriés - Intermédiaire ${$route.params.screen} - Share Now`"
                    target="_blank"
                    class="lg:py-3 lg:text-2xl border border-black font-hairline text-center w-full block py-2 my-6"
                >
                    {{ $t('button.share') }}
                </button>
            </section> <!-- Fin Share -->

            <section :class="{'pb-6': !formData.isSubmit}" > <!-- Email  -->
                <div :class="{'bg-hsbc-grey px-6' : !formData.isSubmit}" class="flex flex-col justify-between">
                    <SubmitMail :label="$t('submit[0]')" :order="+$route.params.screen" v-if="!formData.isSubmit"/>
                    <div :class="['lg:pb-10 pb-4']"> <!-- Continue Button -->
                        <a
                            data-cy="continue"
                            @click="continueQuizz"
                            :data-tracking-content="`Quiz Expatriés - Intermédiaire ${$route.params.screen} - Continue quiz`"
                            :class="[formData.isSubmit ? 'justify-center pt-2' : 'justify-center pt-8']"
                            class="lg:flex lg:justify-center font-bold text-center text-black w-full flex cursor-pointer"
                        >
                            <span class="lg:text-2xl text-lg">{{currentScreen.link}}</span>
                            <span class="flex items-center pl-4 lg:pl-10 "><img src="~/assets/images/misc/next.svg" alt="" height="10" width="10"></span>
                        </a>
                    </div> <!-- End Continue Button -->
                </div>
            </section> <!-- Fin Email -->
        </main>
        <!-- // Footer -->
        <TheFooter :order="+$route.params.screen"></TheFooter>

        <!-- // Modal of share button -->
        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <AddThisModal v-on:closeModal="showed = false" v-if="showed"></AddThisModal>
        </transition>

    </div>
</template>

<script>

import Header from '~/components/Header.vue'
import SubmitMail from '~/components/SubmitMail.vue'
import TheFooter from '~/components/TheFooter.vue'
import AddThisModal from '~/components/AddThisModal.vue'
import { mapState } from 'vuex'


export default {
    head () {
        return {
            title: this.$t('misc.meta.title'),
            meta: [
                { hid: 'description', name: 'description', content: this.$t('misc.meta.description') }
            ]
        }
    },
    components: {
        Header,
        SubmitMail,
        TheFooter,
        AddThisModal
    },
    validate ({ params: { screen } }) {
        if(screen > 2 || screen <= 0 || isNaN(screen))
            $nuxt.$router.push({path: '/'})
        else return true
    },
    data() {
        return {
            currentScreen: null,
            showed: false
        }
    },
    methods: {
        continueQuizz: function(e) {

            let { target, target : { parentNode } } = e;

            // Prevent bubbling event
            let trackingContent = target.dataset.trackingContent ? target.dataset.trackingContent :
                parentNode.dataset.trackingContent ? parentNode.dataset.trackingContent :
                parentNode.parentNode.dataset.trackingContent;

            // Tracking click button
            this.$trackEvent(trackingContent);

            // Redirect for continue quiz
            let to = `/${this.$i18n.locale}${this.currentScreen.continue}`;
            $nuxt.$router.push({path: to});
        },
        showShareModale: function(e) {
            // Toggle display
            this.showed = true;

            // Tracking click button
            this.$trackEvent(e.target.dataset.trackingContent);
        }
    },
    created() {
        // Get data translated of current screen
        this.currentScreen = this.$t(`screen.checkpoint-${this.$route.params.screen}`)

        // Tracker page
        if (!this.$store.state.form.formData.isSubmit) {
            this.$trackView({
                page_name: `pws:outils:quiz_expatries:intermediaire_${this.$route.params.screen}`,
                page_url: `/pws/outils/quiz_expatries/intermediaire_${this.$route.params.screen}`
            }, this.$i18n.locale)
        }
        // else {
        //     this.$trackView({
        //         page_name: `pws:outils:quiz_expatries:form_intermediaire_${this.$route.params.screen}:confirmation`,
        //         page_url: `/pws/outils/quiz_expatries/form_intermediaire_${this.$route.params.screen}/confirmation`
        //     }, this.$i18n.locale)
        // }
    },
    mounted() {
        // Cale le haut de l'écran sur le message de succès (pour voir les CTA)
        if(this.$refs.sucessMessage) {
            this.$scrollMeToRef(this.$refs.sucessMessage)
        } else {
            this.$scrollMeToRef(this.$refs.top)
        }
    },
    computed: {
        ...mapState('form', [
            'formData'
        ])
    }
}
</script>

<style>

</style>
